version: 2
jobs:
  build:
    docker:
    - image: circleci/openjdk:8

    steps:
    - checkout
    - run:
        name: Setup Env
        command: |
          echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV

    - run:
        name: Run Tests
        command: |
          ./gradlew test

    - setup_remote_docker:
        docker_layer_caching: true

    - run:
        name: Build and push Docker image
        command: |
          ./gradlew jar
          docker build -t adeln/ffmpeg:$TAG .
          echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
          docker push adeln/ffmpeg:$TAG

#    - run:
#        name: Deploy app to Digital Ocean Server via Docker
#        command: |
#          ssh -o StrictHostKeyChecking=no root@hello.dpunks.org "/bin/bash ./deploy_app.sh ariv3ra/$IMAGE_NAME:$TAG"
